{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "next/core-web-vitals"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "src/**/*.test.tsx",
          "src/**/*.stories.ts"
        ]
      }
    ],
    "no-use-before-define": "off",
    "import/order": [
      "error",
      {
        "groups": [
          "external",
          "internal",
          "index",
          "sibling",
          "parent",
          "builtin",
          "object",
          "type"
        ]
      }
    ],
    "react/function-component-definition": "off",
    "react/react-in-jsx-scope": "off",
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-no-constructed-context-values": "off",
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        }
      }
    ],
    "jsx-quotes": [
      "error",
      "prefer-single"
    ],
    "jsx-a11y/label-has-for": [
      "error",
      {
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        }
      }
    ],
    "react/require-default-props": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "import/no-unresolved": "error",
    "react/jsx-no-bind": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}