.container {
  display: flex;
  color: $color-primary;
}

.teste {
  display: inline;
  width: 100px;
}

.teste-w {
  width: auto;
}

.oi {
  width: "auto";
}

.batata {
  display: block;
}

@include desktop() {
  .container {
    background: $color-secondary;
  }
}
