@use "abstracts" as *;

.container {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  color: #000;
  border: 1px solid #fff;
  border-radius: 4px;
  outline: none;
}

@include desktop() {
  .container {
    background: $color-secondary-transparent-300;
  }
}
